div.card-container.location-container
    - const {locationName,locationPics, locationAddress, openHours, rating, reviews } = locationData
    h1=locationName
    p=locationAddress
    p=openHours 
    p=rating
    p=reviews 