div.card-container
    img(src=`${val.reviewerProfilePicSrc}`, alt="profile photo").reviewerProfilePic
    h3.h3-inline= val.reviewerName
    h1= val.locationName
    h1= val.address
    span= val.rating
    p= val.reviewText
    p= val.reviewDate

    